[Unit]
Description=my-travels

[Service]
Type=simple
User=root
Group=wheel
WorkingDirectory=/opt/my-travels
ExecStart=/opt/my-travels/start.sh
Restart=always
RestartSec=5
Environment=HOME=/root
Environment=USER=root
EnvironmentFile=-/opt/my-travels/.env
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
